<h1><%= @data.name %></h1>

<div>
<ul>
  <li>
    <p>Infected:</p>
    <p><%= @data.infected %></p>
  </li>

    <li>
    <p>Deceased:</p>
    <p><%= @data.dead %></p>
  </li>
</ul>

<ul>
    <li>
    <p>Still Sick:</p>
    <p><%= @data.sick %></p>
  </li>

    <li>
    <p>Recovered:</p>
    <p><%= @data.recovered %></p>
  </li>
</ul>
</div>

<ul class="page-links">
  <a class="page-link" href="https://covid19virginia.herokuapp.com?state=virginia">VA</a>
  <a class="page-link" href="https://covid19virginia.herokuapp.com?state=mississippi">MS</a>
  <a class="page-link" href="https://covid19virginia.herokuapp.com?state=louisiana">LA</a>
  <a class="page-link" href="https://covid19virginia.herokuapp.com?state=north_carolina">NC</a>
  <a class="page-link" href="https://covid19virginia.herokuapp.com?state=south_carolina">SC</a>
</ul>