<h1>COVID-19 in Virginia</h1>

<div>
<ul>
  <li>
    <p>Infected:</p>
    <p><%= @data.infected %></p>
  </li>

    <li>
    <p>Dead:</p>
    <p><%= @data.dead %></p>
  </li>
</ul>

<ul>
    <li>
    <p>Still Sick:</p>
    <p><%= @data.sick %></p>
  </li>

    <li>
    <p>Recovered:</p>
    <p><%= @data.recovered %></p>
  </li>
</ul>
</div>

<% minutes = ((Time.now - @data.updated_at).round.to_i / 60) %>
<% elapsed_time = minutes < 60 ? "#{minutes} minutes" : "#{minutes / 60} hours" %>
<% elapsed_time = "1 hour" if elapsed_time == "1 hours" %>

<p class="last-updated">Last updated <%= elapsed_time %> ago</p>